.logo {
    height: 30px;
    width: 30px;
    float: right;
}

.quadImage
{
    width: 100%;
    max-width: 100%
}

.sectionSquare{
    width: 100%;
    max-width: 100%;
}

td{
    text-align: center;
}